<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
  </head>
  <body>
    <p1> Share Info Please </p1>
    <form action = "/submit" method = "POST">
      <label>Please Enter your Information</label>
      <br /><br />
      <input type="text" label="name" />
      <br /><br />
      <input type="text" label="email" />
      <br /><br />
      <input type="text" label="phone" />
      <br /><br />
      <input type="text" label="net_worth" />
      <br /><br />
      <input type="submit" />
    </form>
  </body>
</html>

