<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/search" method="POST">
      <label> Please Enter Name of Card for JSON</label>
      <br /><br />
      <input type="text" name="name" />
      <input type="submit" />
      <br /><br />
    </form>
    <form action="/imgSearch" method="POST">
      <label> Please Enter Name of Card for Image</label>
      <br /><br />
      <input type="text" name="name" />
      <input type="submit" />
      <br /><br />
    </form>
    <form action="/typeSearch" method="POST">
        <label> Please Enter Card Type for for JSON </label>
        <br /><br />
        <input type="text" name="type" />
        <input type="submit">
        <br /><br />
    </form>
    <form action="/priceSearch" method="POST">
        <label> Please Enter a Price for a Sorted List for JSON </label>
        <br /><br />
        <input type="text" name="price">
        <input type="submit">
        <br /><br />
    </form>
  </body>
</html>
